.page {
  width: 100%;
}

.page__body {
  font-family: $main-fonts;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black-basic;
  margin: 0;
  min-width: 320px;
  background-color: $white-basic;
}

.page__container {
  background-color: $white-basic;
  box-shadow: 0 0 15px rgba($shadow-black, 0.2);
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
