.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 20px;
  }
}

.pagination__item {
  list-style-type: none;
}

.pagination__button {
  display: grid;
  place-content: center;
  text-decoration: none;
  min-width: 40px;
  height: 40px;
  font-family: $main-fonts;
  font-size: 16px;
  line-height: 24px;
  color: $violet-basic;
  border-radius: 4px;
  background-color: $white-basic;

  @media (min-width: $tablet-width) {
    svg {
      display: none;
    }
  }

  &:hover:not(.pagination__button--current),
  &:focus:not(.pagination__button--current) {
    color: $white-basic;
    background-color: $primary-light;
    border: none;
    outline: none;
  }

  &:active:not(.pagination__button--current) {
    color: $white-basic;
    background-color: $primary-dark;
  }

  &:disabled:not(.pagination__button--current) {
    color: $white-basic;
    background-color: $grey-basic;
  }
}

.pagination__button--current {
  font-weight: 600;
  color: $black-basic;
  background-color: transparent;
}

.pagination__button-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 8px 20px;
  }
}
