// Fonts

$main-fonts: "Montserrat", "Arial", sans-serif;

// Color

$black-basic: #333333;
$white-basic: #ffffff;
$grey-basic: #e2e2e2;
$shadow-black: #000000;
$purple-basic: #f0ebff;
$violet-basic: #7859cf;
$violet-basic-opacity: rgba(#7859cf, 0.25);
$light-brown: #f3ebe1;
$light-blue: #eae6fc;
$light-grey: #e5e6e8;
$silver-basic: #bdbdbd;
$grey-background: #f8f8f8;
$primary-light: #9070ec;
$primary-dark: #593cac;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$mobile-tablet-only: 1439px;
$desktop-width: 1440px;
